In [ ]:
"""
The following code cleans and reformats unemployment data obtained from a kaggle dataset curated by user Justin Oh

https://www.kaggle.com/datasets/justin2028/unemployment-in-america-per-us-state/data

"""

In [1]:
import pandas as pd

In [3]:
unemployment = pd.read_csv("Unemployment in America Per US State.csv")

In [4]:
unemployment

,FIPS Code,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
0,1,Alabama,1976,1,"2,605,000","1,484,555",57.0,"1,386,023",53.2,"98,532",6.6
1,2,Alaska,1976,1,"232,000","160,183",69.0,"148,820",64.1,"11,363",7.1
2,4,Arizona,1976,1,"1,621,000","964,120",59.5,"865,871",53.4,"98,249",10.2
3,5,Arkansas,1976,1,"1,536,000","889,044",57.9,"824,395",53.7,"64,649",7.3
4,6,California,1976,1,"15,621,000","9,774,280",62.6,"8,875,685",56.8,"898,595",9.2
...,...,...,...,...,...,...,...,...,...,...,...
29887,51,Virginia,2022,12,"6,862,585","4,470,272",65.1,"4,330,531",63.1,"139,741",3.1
29888,53,Washington,2022,12,"6,254,253","4,015,286",64.2,"3,832,769",61.3,"182,517",4.5
29889,54,West Virginia,2022,12,"1,434,789","784,323",54.7,"752,464",52.4,"31,859",4.1
29890,55,Wisconsin,2022,12,"4,753,700","3,068,610",64.6,"2,976,670",62.6,"91,940",3.0
29891,56,Wyoming,2022,12,"460,134","293,595",63.8,"282,247",61.3,"11,348",3.9

In [5]:
unemployment = unemployment.drop(unemployment.columns[4:10], axis = 1)

In [6]:
unemployment.drop(["FIPS Code"], axis = 1)

,State/Area,Year,Month,Percent (%) of Labor Force Unemployed in State/Area
0,Alabama,1976,1,6.6
1,Alaska,1976,1,7.1
2,Arizona,1976,1,10.2
3,Arkansas,1976,1,7.3
4,California,1976,1,9.2
...,...,...,...,...
29887,Virginia,2022,12,3.1
29888,Washington,2022,12,4.5
29889,West Virginia,2022,12,4.1
29890,Wisconsin,2022,12,3.0
29891,Wyoming,2022,12,3.9

In [7]:
unemployment = unemployment.groupby(["State/Area", "Year"]).mean()
unemployment

                 FIPS Code  Month  \
State/Area Year
Alabama    1976        1.0    6.5
           1977        1.0    6.5
           1978        1.0    6.5
           1979        1.0    6.5
           1980        1.0    6.5
...                    ...    ...
Wyoming    2018       56.0    6.5
           2019       56.0    6.5
           2020       56.0    6.5
           2021       56.0    6.5
           2022       56.0    6.5

                 Percent (%) of Labor Force Unemployed in State/Area
State/Area Year
Alabama    1976                                           6.700000
           1977                                           7.150000
           1978                                           6.408333
           1979                                           7.225000
           1980                                           8.816667
...                                                            ...
Wyoming    2018                                           4.058333
           2019                                           3.716667
           2020                                           5.900000
           2021                                           4.625000
           2022                                           3.566667

[2491 rows x 3 columns]

In [8]:
unemployment = unemployment.drop(["Month"], axis =1)

In [9]:
unemployment = unemployment.reset_index()

In [10]:
unemployment = unemployment.drop(["FIPS Code"], axis = 1)

In [11]:
unemployment = unemployment.rename(columns = {"State/Area":"State", "Percent (%) of Labor Force Unemployed in State/Area": "Unemployment"})

In [12]:
unemployment

        State  Year  Unemployment
0     Alabama  1976      6.700000
1     Alabama  1977      7.150000
2     Alabama  1978      6.408333
3     Alabama  1979      7.225000
4     Alabama  1980      8.816667
...       ...   ...           ...
2486  Wyoming  2018      4.058333
2487  Wyoming  2019      3.716667
2488  Wyoming  2020      5.900000
2489  Wyoming  2021      4.625000
2490  Wyoming  2022      3.566667

[2491 rows x 3 columns]

In [13]:
unemployment = unemployment[unemployment["Year"] >= 2010]

In [14]:
unemployment

        State  Year  Unemployment
34    Alabama  2010     10.375000
35    Alabama  2011      9.583333
36    Alabama  2012      8.158333
37    Alabama  2013      7.325000
38    Alabama  2014      6.733333
...       ...   ...           ...
2486  Wyoming  2018      4.058333
2487  Wyoming  2019      3.716667
2488  Wyoming  2020      5.900000
2489  Wyoming  2021      4.625000
2490  Wyoming  2022      3.566667

[689 rows x 3 columns]

In [15]:
unemployment = unemployment[unemployment["Year"] != 2020]

In [16]:
unemployment = unemployment.pivot(index = "State", columns = ["Year"], values = "Unemployment")

In [17]:
unemployment

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
State,,,,,,,,,,,,
Alabama,10.375000,9.583333,8.158333,7.325000,6.733333,6.125000,5.908333,4.508333,3.941667,3.183333,3.366667,2.575000
Alaska,8.133333,7.733333,7.250000,6.991667,6.741667,6.275000,6.600000,6.508333,6.041667,5.591667,6.433333,4.025000
Arizona,10.300000,9.433333,8.350000,7.816667,6.791667,6.075000,5.483333,4.975000,4.808333,4.808333,5.075000,3.825000
Arkansas,7.858333,7.908333,7.266667,7.041667,5.900000,4.950000,3.983333,3.741667,3.658333,3.491667,4.075000,3.300000
California,12.458333,11.891667,10.525000,9.033333,7.566667,6.225000,5.516667,4.833333,4.258333,4.100000,7.325000,4.183333
Colorado,9.141667,8.691667,8.000000,6.750000,4.983333,3.741667,3.133333,2.608333,3.050000,2.666667,5.458333,3.016667
Connecticut,9.558333,9.016667,8.358333,7.950000,6.616667,5.616667,4.866667,4.416667,3.883333,3.608333,6.291667,4.158333
Delaware,8.658333,7.608333,7.066667,6.608333,5.608333,4.791667,4.525000,4.466667,3.708333,3.591667,5.500000,4.491667
District of Columbia,9.950000,10.191667,8.975000,8.433333,7.708333,6.916667,6.233333,6.100000,5.683333,5.475000,6.833333,4.616667
Florida,10.825000,10.000000,8.666667,7.533333,6.433333,5.525000,4.916667,4.300000,3.650000,3.250000,4.658333,2.900000
Georgia,10.658333,10.158333,9.041667,8.141667,7.141667,6.075000,5.466667,4.758333,4.000000,3.575000,3.916667,3.033333
Hawaii,6.825000,6.833333,5.900000,4.758333,4.233333,3.416667,2.891667,2.216667,2.408333,2.516667,6.016667,3.475000
Idaho,8.758333,8.166667,7.400000,6.816667,4.383333,3.866667,3.675000,3.216667,2.875000,2.875000,3.500000,2.675000
Illinois,10.466667,9.758333,9.050000,9.075000,7.166667,5.991667,5.883333,4.950000,4.400000,3.966667,6.091667,4.541667
Indiana,10.083333,8.908333,8.225000,7.500000,5.950000,4.783333,4.366667,3.491667,3.433333,3.291667,3.891667,2.991667
Iowa,6.116667,5.650000,5.058333,4.725000,4.225000,3.691667,3.575000,3.058333,2.575000,2.666667,3.816667,2.741667
Kansas,6.933333,6.383333,5.716667,5.300000,4.508333,4.150000,4.016667,3.616667,3.358333,3.275000,3.308333,2.666667
Kentucky,10.266667,9.375000,8.200000,7.916667,6.416667,5.233333,5.033333,4.775000,4.200000,4.100000,4.425000,3.908333
Los Angeles County,12.558333,12.241667,11.000000,9.783333,8.258333,6.683333,5.341667,4.825000,4.641667,4.491667,8.941667,4.866667
Louisiana,7.516667,7.433333,6.766667,6.416667,6.250000,6.291667,6.066667,5.108333,4.825000,4.616667,5.600000,3.625000
Maine,8.416667,7.725000,7.191667,6.683333,5.558333,4.383333,3.775000,3.358333,3.175000,2.941667,4.616667,2.941667
Maryland,7.825000,7.316667,6.866667,6.516667,5.733333,4.991667,4.291667,4.000000,3.816667,3.391667,5.316667,3.233333
Massachusetts,8.058333,7.225000,6.700000,6.641667,5.741667,4.791667,4.041667,3.791667,3.475000,3.016667,5.525000,3.766667
Michigan,12.191667,10.008333,9.058333,8.725000,7.233333,5.425000,5.008333,4.575000,4.158333,4.066667,5.850000,4.208333
Minnesota,7.391667,6.525000,5.650000,5.041667,4.266667,3.791667,3.875000,3.483333,3.025000,3.250000,3.783333,2.666667
Mississippi,10.083333,9.775000,8.825000,8.491667,7.591667,6.483333,5.966667,5.233333,4.958333,5.525000,5.500000,3.908333
Missouri,9.508333,8.641667,7.191667,6.775000,6.150000,5.108333,4.550000,3.741667,3.241667,3.208333,4.083333,2.491667
Montana,7.183333,6.625000,5.800000,5.341667,4.666667,4.291667,4.325000,4.091667,3.750000,3.500000,3.383333,2.633333
Nebraska,4.700000,4.400000,3.883333,3.675000,3.250000,2.983333,3.066667,2.975000,2.925000,3.125000,2.691667,2.341667
Nevada,13.733333,13.316667,11.608333,9.966667,8.158333,6.850000,5.808333,4.983333,4.383333,4.108333,6.941667,5.358333
New Hampshire,6.083333,5.450000,5.466667,5.250000,4.325000,3.391667,2.883333,2.808333,2.625000,2.566667,3.400000,2.500000
New Jersey,9.658333,9.375000,9.383333,8.375000,6.733333,5.700000,4.941667,4.533333,4.008333,3.450000,6.608333,3.666667
New Mexico,7.775000,7.216667,6.966667,6.908333,6.591667,6.600000,6.750000,6.041667,4.925000,4.958333,7.058333,4.025000
New York,8.716667,8.358333,8.625000,7.791667,6.291667,5.233333,4.875000,4.633333,4.100000,3.850000,7.016667,4.250000
New York city,9.583333,9.133333,9.441667,8.808333,7.066667,5.566667,5.150000,4.525000,4.150000,3.950000,10.033333,5.608333
North Carolina,10.716667,10.233333,9.516667,7.733333,6.108333,5.658333,5.100000,4.525000,3.991667,3.866667,4.875000,3.641667
North Dakota,3.691667,3.358333,2.933333,2.891667,2.616667,2.783333,3.100000,2.608333,2.408333,2.166667,3.066667,2.083333
Ohio,10.266667,8.816667,7.408333,7.458333,5.800000,4.950000,5.075000,4.966667,4.500000,4.183333,5.133333,4.025000
Oklahoma,6.500000,5.591667,5.116667,5.116667,4.333333,4.291667,4.658333,4.033333,3.291667,3.133333,4.016667,3.025000
Oregon,10.691667,9.608333,8.808333,7.750000,6.641667,5.466667,4.750000,4.058333,4.041667,3.725000,5.208333,4.133333
Pennsylvania,8.166667,7.741667,7.658333,7.100000,5.933333,5.391667,5.341667,4.975000,4.416667,4.325000,6.033333,4.350000
Rhode Island,11.625000,11.016667,10.216667,9.475000,7.766667,6.025000,5.241667,4.508333,4.033333,3.550000,5.508333,3.216667
South Carolina,11.300000,10.450000,9.033333,7.425000,6.275000,5.900000,4.916667,4.200000,3.375000,2.783333,3.983333,3.258333
South Dakota,4.908333,4.600000,4.058333,3.700000,3.333333,3.050000,3.016667,3.050000,2.791667,2.783333,2.641667,2.066667
Tennessee,9.825000,9.108333,7.958333,7.725000,6.600000,5.566667,4.758333,3.750000,3.500000,3.341667,4.491667,3.366667
Texas,8.191667,8.016667,6.708333,6.300000,5.191667,4.483333,4.650000,4.341667,3.900000,3.525000,5.650000,3.875000
Utah,7.933333,7.058333,4.775000,4.208333,3.633333,3.508333,3.350000,3.166667,2.916667,2.541667,2.758333,2.300000
Vermont,6.316667,5.566667,4.816667,4.416667,3.991667,3.533333,3.125000,3.008333,2.483333,2.100000,3.700000,2.625000
Virginia,7.291667,6.541667,5.950000,5.550000,5.116667,4.366667,4.000000,3.666667,3.008333,2.758333,3.883333,2.833333
Washington,9.133333,8.525000,7.641667,6.633333,5.925000,5.433333,5.225000,4.641667,4.425000,4.233333,5.208333,4.175000
West Virginia,8.633333,7.825000,7.258333,6.716667,6.500000,6.583333,6.091667,5.208333,5.166667,4.933333,5.108333,3.916667
Wisconsin,8.500000,7.533333,6.925000,6.641667,5.350000,4.425000,3.908333,3.258333,2.975000,3.166667,3.841667,2.933333
Wyoming,6.941667,6.133333,5.500000,4.733333,4.341667,4.208333,5.333333,4.325000,4.058333,3.716667,4.625000,3.566667

In [18]:
unemployment = unemployment.reset_index()

In [19]:
unemployment = pd.melt(unemployment, id_vars = "State", var_name = "Year", value_name = "unemployment")
unemployment

             State  Year  unemployment
0          Alabama  2010     10.375000
1           Alaska  2010      8.133333
2          Arizona  2010     10.300000
3         Arkansas  2010      7.858333
4       California  2010     12.458333
..             ...   ...           ...
631       Virginia  2022      2.833333
632     Washington  2022      4.175000
633  West Virginia  2022      3.916667
634      Wisconsin  2022      2.933333
635        Wyoming  2022      3.566667

[636 rows x 3 columns]

In [20]:
unemployment.to_csv("unemployment_data.csv", index = False)