In [1]:
"""
The following code obtains all of the data collected previously and compiles the data into a single dataframe

The final dataframe is then used to generate the regression
"""

'\nThe following code obtains all of the data collected previously and compiles the data into a single dataframe\n\nThe final dataframe is then used to generate the regression\n'

In [2]:
import pandas as pd

In [3]:
gini = pd.read_csv("Gini Coefficient Data/gini_coef.csv")

In [4]:
gini

,State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,Alabama,0.472,0.4735,0.4726,0.4752,0.4758,0.4811,0.4847,0.4768,0.4859,0.4741,0.4823,0.4851
1,Alaska,0.422,0.4099,0.4232,0.4083,0.4175,0.4322,0.4081,0.4241,0.4322,0.4376,0.4392,0.4278
2,Arizona,0.455,0.4600,0.4608,0.4681,0.4676,0.4702,0.4713,0.4668,0.4613,0.4591,0.4629,0.4665
3,Arkansas,0.458,0.4684,0.4632,0.4685,0.4714,0.4773,0.4719,0.4725,0.4845,0.4750,0.4751,0.4799
4,California,0.471,0.4812,0.4822,0.4903,0.4890,0.4876,0.4899,0.4866,0.4912,0.4866,0.4924,0.4953
5,Colorado,0.457,0.4588,0.4579,0.4614,0.4584,0.4580,0.4586,0.4553,0.4561,0.4548,0.4604,0.4566
6,Connecticut,0.486,0.4859,0.4915,0.4994,0.5005,0.4916,0.4945,0.4943,0.5014,0.5024,0.4985,0.5008
7,Delaware,0.440,0.4404,0.4356,0.4513,0.4494,0.4523,0.4522,0.4811,0.4587,0.4509,0.4547,0.4407
8,Florida,0.474,0.4811,0.4828,0.4843,0.4834,0.4872,0.4852,0.4859,0.4887,0.4808,0.4869,0.4902
9,Georgia,0.468,0.4770,0.4809,0.4837,0.4801,0.4801,0.4813,0.4830,0.4822,0.4795,0.4787,0.4736
10,Hawaii,0.433,0.4301,0.4257,0.4400,0.4325,0.4346,0.4420,0.4455,0.4450,0.4397,0.4552,0.4574
11,Idaho,0.433,0.4320,0.4302,0.4376,0.4541,0.4525,0.4503,0.4478,0.4454,0.4337,0.4577,0.4434
12,Illinois,0.465,0.4718,0.4716,0.4824,0.4765,0.4817,0.4810,0.4818,0.4852,0.4800,0.4824,0.4837
13,Indiana,0.440,0.4461,0.4417,0.4554,0.4455,0.4519,0.4527,0.4497,0.4511,0.4584,0.4480,0.4561
14,Iowa,0.427,0.4340,0.4328,0.4429,0.4433,0.4393,0.4451,0.4381,0.4413,0.4422,0.4489,0.4514
15,Kansas,0.445,0.4442,0.4496,0.4589,0.4597,0.4596,0.4550,0.4539,0.4633,0.4500,0.4599,0.4632
16,Kentucky,0.466,0.4709,0.4667,0.4721,0.4704,0.4781,0.4813,0.4784,0.4787,0.4764,0.4757,0.4845
17,Louisiana,0.475,0.4836,0.4859,0.4914,0.4902,0.4909,0.4990,0.4935,0.4936,0.4978,0.4988,0.4915
18,Maine,0.437,0.4509,0.4450,0.4532,0.4593,0.4523,0.4519,0.4526,0.4516,0.4490,0.4663,0.4601
19,Maryland,0.443,0.4466,0.4473,0.4555,0.4491,0.4524,0.4499,0.4530,0.4543,0.4558,0.4631,0.4589
20,Massachusetts,0.475,0.4771,0.4813,0.4837,0.4863,0.4848,0.4786,0.4851,0.4875,0.4803,0.4893,0.4976
21,Michigan,0.451,0.4612,0.4624,0.4641,0.4598,0.4667,0.4695,0.4671,0.4679,0.4634,0.4659,0.4685
22,Minnesota,0.440,0.4436,0.4441,0.4462,0.4539,0.4492,0.4496,0.4516,0.4536,0.4434,0.4493,0.4560
23,Mississippi,0.468,0.4735,0.4870,0.4791,0.4760,0.4759,0.4828,0.4790,0.4828,0.4896,0.4808,0.4806
24,Missouri,0.455,0.4611,0.4608,0.4605,0.4628,0.4634,0.4646,0.4618,0.4657,0.4633,0.4706,0.4687
25,Montana,0.435,0.4351,0.4502,0.4620,0.4544,0.4623,0.4667,0.4539,0.4535,0.4597,0.4693,0.4652
26,Nebraska,0.432,0.4467,0.4339,0.4445,0.4352,0.4473,0.4477,0.4391,0.4488,0.4400,0.4560,0.4610
27,Nevada,0.448,0.4526,0.4516,0.4543,0.4427,0.4548,0.4577,0.4606,0.4690,0.4710,0.4726,0.4685
28,New Hampshire,0.425,0.4347,0.4298,0.4387,0.4410,0.4347,0.4304,0.4386,0.4530,0.4406,0.4348,0.4466
29,New Jersey,0.464,0.4694,0.4718,0.4800,0.4757,0.4832,0.4813,0.4794,0.4836,0.4782,0.4853,0.4815
30,New Mexico,0.464,0.4821,0.4713,0.4759,0.4770,0.4795,0.4769,0.4776,0.4891,0.4768,0.4861,0.4796
31,New York,0.499,0.5033,0.5009,0.5098,0.5111,0.5138,0.5129,0.5157,0.5130,0.5149,0.5140,0.5208
32,North Carolina,0.464,0.4716,0.4691,0.4765,0.4748,0.4776,0.4780,0.4763,0.4782,0.4743,0.4801,0.4768
33,North Dakota,0.433,0.4448,0.4597,0.4550,0.4664,0.4664,0.4533,0.4546,0.4427,0.4558,0.4531,0.4678
34,Ohio,0.452,0.4594,0.4615,0.4652,0.4637,0.4637,0.4680,0.4642,0.4667,0.4651,0.4687,0.4691
35,Oklahoma,0.454,0.4613,0.4643,0.4619,0.4660,0.4702,0.4645,0.4658,0.4687,0.4739,0.4618,0.4743
36,Oregon,0.449,0.4586,0.4565,0.4600,0.4624,0.4622,0.4583,0.4593,0.4582,0.4500,0.4611,0.4679
37,Pennsylvania,0.461,0.4611,0.4642,0.4696,0.4686,0.4685,0.4689,0.4777,0.4747,0.4745,0.4720,0.4778
38,Rhode Island,0.467,0.4674,0.4647,0.4769,0.4827,0.4732,0.4781,0.4722,0.4700,0.4628,0.4680,0.4640
39,South Carolina,0.461,0.4648,0.4684,0.4665,0.4687,0.4698,0.4735,0.4795,0.4762,0.4747,0.4760,0.4757
40,South Dakota,0.442,0.4324,0.4335,0.4427,0.4468,0.4436,0.4495,0.4488,0.4445,0.4360,0.4522,0.4487
41,Tennessee,0.468,0.4756,0.4732,0.4783,0.4811,0.4789,0.4790,0.4822,0.4778,0.4749,0.4821,0.4694
42,Texas,0.469,0.4771,0.4767,0.4807,0.4827,0.4823,0.4800,0.4781,0.4822,0.4753,0.4784,0.4796
43,Utah,0.419,0.4249,0.4244,0.4259,0.4283,0.4252,0.4263,0.4225,0.4269,0.4268,0.4449,0.4264
44,Vermont,0.444,0.4308,0.4392,0.4537,0.4406,0.4452,0.4539,0.4525,0.4473,0.4471,0.4527,0.4452
45,Virginia,0.459,0.4632,0.4661,0.4672,0.4658,0.4681,0.4705,0.4674,0.4754,0.4690,0.4724,0.4755
46,Washington,0.441,0.4449,0.4498,0.4572,0.4542,0.4561,0.4591,0.4561,0.4574,0.4577,0.4704,0.4742
47,West Virginia,0.451,0.4721,0.4638,0.4647,0.4546,0.4581,0.4711,0.4686,0.4742,0.4644,0.4858,0.4804
48,Wisconsin,0.430,0.4370,0.4401,0.4446,0.4397,0.4410,0.4498,0.4467,0.4483,0.4391,0.4464,0.4510
49,Wyoming,0.423,0.4081,0.4166,0.4183,0.4270,0.4374,0.4360,0.4326,0.4555,0.4345,0.4638,0.4437

In [5]:
gini = pd.melt(gini, id_vars = "State", var_name = "Year", value_name = "gini")

In [6]:
gini

             State  Year    gini
0          Alabama  2010  0.4720
1           Alaska  2010  0.4220
2          Arizona  2010  0.4550
3         Arkansas  2010  0.4580
4       California  2010  0.4710
..             ...   ...     ...
595       Virginia  2022  0.4755
596     Washington  2022  0.4742
597  West Virginia  2022  0.4804
598      Wisconsin  2022  0.4510
599        Wyoming  2022  0.4437

[600 rows x 3 columns]

In [7]:
minwage = pd.read_csv("Minimum Wage/min_wage.csv", dtype = {"Year": str})

In [8]:
minwage

    State or other jurisdiction  Year  min_wage
0                Federal (FLSA)  2010      7.25
1                       Alabama  2010      7.25
2                        Alaska  2010      7.75
3                       Arizona  2010      7.25
4                      Arkansas  2010      6.25
..                          ...   ...       ...
710                     Wyoming  2022      5.15
711        District of Columbia  2022     16.10
712                        Guam  2022      9.25
713                 Puerto Rico  2022      7.25
714         U.S. Virgin Islands  2022     10.50

[715 rows x 3 columns]

In [9]:
minwage = minwage.rename(columns = {"State or other jurisdiction": "State"})

In [10]:
minwage = minwage[minwage["State"].isin(gini["State"])]

In [11]:
minwage

             State  Year  min_wage
1          Alabama  2010      7.25
2           Alaska  2010      7.75
3          Arizona  2010      7.25
4         Arkansas  2010      6.25
5       California  2010      8.00
..             ...   ...       ...
706       Virginia  2022     11.00
707     Washington  2022     14.49
708  West Virginia  2022      8.75
709      Wisconsin  2022      7.25
710        Wyoming  2022      5.15

[650 rows x 3 columns]

In [12]:
minwage = minwage[minwage["Year"] != "2020"]
minwage.dtypes

State        object
Year         object
min_wage    float64
dtype: object

In [13]:
minwage
print(type(minwage["Year"][1]))
print(type(gini["Year"][1]))

<class 'str'>
<class 'str'>

In [14]:
gini = gini.set_index(["State", "Year"])

In [15]:
minwage = minwage.set_index(["State", "Year"])

In [16]:
state_econ = pd.concat([gini, minwage], axis = 1)

In [17]:
state_econ

                      gini  min_wage
State         Year
Alabama       2010  0.4720      7.25
Alaska        2010  0.4220      7.75
Arizona       2010  0.4550      7.25
Arkansas      2010  0.4580      6.25
California    2010  0.4710      8.00
...                    ...       ...
Virginia      2022  0.4755     11.00
Washington    2022  0.4742     14.49
West Virginia 2022  0.4804      8.75
Wisconsin     2022  0.4510      7.25
Wyoming       2022  0.4437      5.15

[600 rows x 2 columns]

In [18]:
gini = gini.reset_index()

In [19]:
unemployment = pd.read_csv("Unemployment Data/unemployment_data.csv")

In [20]:
unemployment

             State  Year  unemployment
0          Alabama  2010     10.375000
1           Alaska  2010      8.133333
2          Arizona  2010     10.300000
3         Arkansas  2010      7.858333
4       California  2010     12.458333
..             ...   ...           ...
631       Virginia  2022      2.833333
632     Washington  2022      4.175000
633  West Virginia  2022      3.916667
634      Wisconsin  2022      2.933333
635        Wyoming  2022      3.566667

[636 rows x 3 columns]

In [21]:
def merge_data(path, state_econ):
    """Merge additional data into the state_econ DataFrame.

    Takes a CSV dataset located at the path and merges it into the 
    state_econ DataFrame based on shared State and Year index values.

    Args:
        path (str): Filepath of the CSV dataset to merge.
        state_econ (DataFrame): DataFrame with State and Year index to merge data into.

    Returns: 
        DataFrame: Merged state_econ DataFrame with additional columns from CSV.
        
    Anthropic.(2023). Claude. Accessed from https://claude.ai/chat on Nov 26, 2023. 
    Prompt: {write a docstring for the following function}
    """
    data = pd.read_csv(path,dtype = {"Year": str} )
    data = data[data["State"].isin(gini["State"])]
    data = data.set_index(["State", "Year"])
    state_econ = pd.concat([state_econ, data], axis = 1)
    return state_econ

In [22]:
state_econ = merge_data("Unemployment Data/unemployment_data.csv", state_econ)

In [23]:
state_econ

                      gini  min_wage  unemployment
State         Year
Alabama       2010  0.4720      7.25     10.375000
Alaska        2010  0.4220      7.75      8.133333
Arizona       2010  0.4550      7.25     10.300000
Arkansas      2010  0.4580      6.25      7.858333
California    2010  0.4710      8.00     12.458333
...                    ...       ...           ...
Virginia      2022  0.4755     11.00      2.833333
Washington    2022  0.4742     14.49      4.175000
West Virginia 2022  0.4804      8.75      3.916667
Wisconsin     2022  0.4510      7.25      2.933333
Wyoming       2022  0.4437      5.15      3.566667

[600 rows x 3 columns]

In [24]:
gdp = pd.read_csv("GDP_Data/state_gdp.csv")

In [25]:
gdp

             State  Year  GDP (in millions USD)
0          Alabama  2010               175470.1
1           Alaska  2010                52947.7
2          Arizona  2010               248125.3
3         Arkansas  2010               100970.8
4       California  2010              1973511.9
..             ...   ...                    ...
495       Virginia  2019               556905.2
496     Washington  2019               612996.5
497  West Virginia  2019                78863.9
498      Wisconsin  2019               349416.5
499        Wyoming  2019                40420.1

[500 rows x 3 columns]

In [26]:
state_econ = merge_data("GDP_Data/state_gdp.csv",state_econ)
state_econ

                      gini  min_wage  unemployment  GDP (in millions USD)
State         Year
Alabama       2010  0.4720      7.25     10.375000               175470.1
Alaska        2010  0.4220      7.75      8.133333                52947.7
Arizona       2010  0.4550      7.25     10.300000               248125.3
Arkansas      2010  0.4580      6.25      7.858333               100970.8
California    2010  0.4710      8.00     12.458333              1973511.9
...                    ...       ...           ...                    ...
Virginia      2022  0.4755     11.00      2.833333                    NaN
Washington    2022  0.4742     14.49      4.175000                    NaN
West Virginia 2022  0.4804      8.75      3.916667                    NaN
Wisconsin     2022  0.4510      7.25      2.933333                    NaN
Wyoming       2022  0.4437      5.15      3.566667                    NaN

[600 rows x 4 columns]

In [27]:
state_econ = merge_data("Population/state_population.csv", state_econ)

In [28]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population
State,Year,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606
California,2010,0.4710,8.00,12.458333,1973511.9,37349363
...,...,...,...,...,...,...
Virginia,2022,0.4755,11.00,2.833333,NaN,8683619
Washington,2022,0.4742,14.49,4.175000,NaN,7785786
West Virginia,2022,0.4804,8.75,3.916667,NaN,1775156
Wisconsin,2022,0.4510,7.25,2.933333,NaN,5892539
Wyoming,2022,0.4437,5.15,3.566667,NaN,581381

In [29]:
state_econ = merge_data("College Degree/state_college_degree.csv", state_econ)

In [30]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher
State,Year,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298,439863
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985,83346
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737,691889
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606,252888
California,2010,0.4710,8.00,12.458333,1973511.9,37349363,4610875
...,...,...,...,...,...,...,...
Virginia,2022,0.4755,11.00,2.833333,NaN,8683619,1409942
Washington,2022,0.4742,14.49,4.175000,NaN,7785786,1302707
West Virginia,2022,0.4804,8.75,3.916667,NaN,1775156,188793
Wisconsin,2022,0.4510,7.25,2.933333,NaN,5892539,885548
Wyoming,2022,0.4437,5.15,3.566667,NaN,581381,71812

In [31]:
state_econ = state_econ.dropna()

In [32]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher
State,Year,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298,439863
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985,83346
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737,691889
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606,252888
California,2010,0.4710,8.00,12.458333,1973511.9,37349363,4610875
...,...,...,...,...,...,...,...
Virginia,2019,0.4690,7.25,2.758333,556905.2,8535519,1312800
Washington,2019,0.4577,13.50,4.233333,612996.5,7614893,1204728
West Virginia,2019,0.4644,8.75,4.933333,78863.9,1792147,161686
Wisconsin,2019,0.4391,7.25,3.166667,349416.5,5822434,829878
Wyoming,2019,0.4345,5.15,3.716667,40420.1,578759,73183

In [33]:
state_econ["GDP per Capita"] = (state_econ["GDP (in millions USD)"]/state_econ["Population"]) * 1000000

/tmp/ipykernel_1275324/3603176376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_econ["GDP per Capita"] = (state_econ["GDP (in millions USD)"]/state_econ["Population"]) * 1000000

In [34]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher,GDP per Capita
State,Year,,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298,439863,36668.583649
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985,83346,74158.000518
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737,691889,38686.541091
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606,252888,34560.033078
California,2010,0.4710,8.00,12.458333,1973511.9,37349363,4610875,52839.238517
...,...,...,...,...,...,...,...,...
Virginia,2019,0.4690,7.25,2.758333,556905.2,8535519,1312800,65245.616582
Washington,2019,0.4577,13.50,4.233333,612996.5,7614893,1204728,80499.686601
West Virginia,2019,0.4644,8.75,4.933333,78863.9,1792147,161686,44005.262961
Wisconsin,2019,0.4391,7.25,3.166667,349416.5,5822434,829878,60012.101468
Wyoming,2019,0.4345,5.15,3.716667,40420.1,578759,73183,69839.259519

In [35]:
state_econ["% with College Degree"] = state_econ["Residents with Bachelor's Degree or Higher"]/state_econ["Population"]
state_econ["% with College Degree"] = state_econ["% with College Degree"] * 100

/tmp/ipykernel_1275324/317983589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_econ["% with College Degree"] = state_econ["Residents with Bachelor's Degree or Higher"]/state_econ["Population"]
/tmp/ipykernel_1275324/317983589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_econ["% with College Degree"] = state_econ["% with College Degree"] * 100

In [36]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher,GDP per Capita,% with College Degree
State,Year,,,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298,439863,36668.583649,9.191967
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985,83346,74158.000518,11.673354
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737,691889,38686.541091,10.787611
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606,252888,34560.033078,8.655787
California,2010,0.4710,8.00,12.458333,1973511.9,37349363,4610875,52839.238517,12.345257
...,...,...,...,...,...,...,...,...,...
Virginia,2019,0.4690,7.25,2.758333,556905.2,8535519,1312800,65245.616582,15.380436
Washington,2019,0.4577,13.50,4.233333,612996.5,7614893,1204728,80499.686601,15.820682
West Virginia,2019,0.4644,8.75,4.933333,78863.9,1792147,161686,44005.262961,9.021916
Wisconsin,2019,0.4391,7.25,3.166667,349416.5,5822434,829878,60012.101468,14.253111
Wyoming,2019,0.4345,5.15,3.716667,40420.1,578759,73183,69839.259519,12.644814

In [37]:
state_econ = merge_data("Union/state_union.csv", state_econ)
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher,GDP per Capita,% with College Degree,Union Membership %
State,Year,,,,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298,439863,36668.583649,9.191967,10.1
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985,83346,74158.000518,11.673354,22.9
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737,691889,38686.541091,10.787611,6.4
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606,252888,34560.033078,8.655787,4.0
California,2010,0.4710,8.00,12.458333,1973511.9,37349363,4610875,52839.238517,12.345257,17.5
...,...,...,...,...,...,...,...,...,...,...
Virginia,2019,0.4690,7.25,2.758333,556905.2,8535519,1312800,65245.616582,15.380436,11.2
Washington,2019,0.4577,13.50,4.233333,612996.5,7614893,1204728,80499.686601,15.820682,4.0
West Virginia,2019,0.4644,8.75,4.933333,78863.9,1792147,161686,44005.262961,9.021916,10.2
Wisconsin,2019,0.4391,7.25,3.166667,349416.5,5822434,829878,60012.101468,14.253111,8.1
Wyoming,2019,0.4345,5.15,3.716667,40420.1,578759,73183,69839.259519,12.644814,7.3

In [38]:
state_econ = merge_data("Household/Adjusted.csv",state_econ)
#house = pd.read_csv("Household/Adjusted.csv")

#house = house.dropna()
#house
#state_econ

In [39]:
state_econ = merge_data("Household/Unadjusted.csv",state_econ)
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher,GDP per Capita,% with College Degree,Union Membership %,Adjusted Household Income,Unadjusted Household Income
State,Year,,,,,,,,,,,
Alabama,2010,0.472,7.25,10.375000,175470.1,4785298.0,439863.0,36668.583649,9.191967,10.1,43464.0,47624.0
Alaska,2010,0.422,7.75,8.133333,52947.7,713985.0,83346.0,74158.000518,11.673354,22.9,63648.0,69739.0
Arizona,2010,0.455,7.25,10.300000,248125.3,6413737.0,691889.0,38686.541091,10.787611,6.4,47044.0,51546.0
Arkansas,2010,0.458,6.25,7.858333,100970.8,2921606.0,252888.0,34560.033078,8.655787,4.0,39018.0,42752.0
California,2010,0.471,8.00,12.458333,1973511.9,37349363.0,4610875.0,52839.238517,12.345257,17.5,57020.0,62477.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Washington,Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Virginia,Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wisconsin,Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wyoming,Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
state_econ = state_econ.iloc[0:500]

In [41]:
state_econ

,,gini,min_wage,unemployment,GDP (in millions USD),Population,Residents with Bachelor's Degree or Higher,GDP per Capita,% with College Degree,Union Membership %,Adjusted Household Income,Unadjusted Household Income
State,Year,,,,,,,,,,,
Alabama,2010,0.4720,7.25,10.375000,175470.1,4785298.0,439863.0,36668.583649,9.191967,10.1,43464.0,47624.0
Alaska,2010,0.4220,7.75,8.133333,52947.7,713985.0,83346.0,74158.000518,11.673354,22.9,63648.0,69739.0
Arizona,2010,0.4550,7.25,10.300000,248125.3,6413737.0,691889.0,38686.541091,10.787611,6.4,47044.0,51546.0
Arkansas,2010,0.4580,6.25,7.858333,100970.8,2921606.0,252888.0,34560.033078,8.655787,4.0,39018.0,42752.0
California,2010,0.4710,8.00,12.458333,1973511.9,37349363.0,4610875.0,52839.238517,12.345257,17.5,57020.0,62477.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,2019,0.4690,7.25,2.758333,556905.2,8535519.0,1312800.0,65245.616582,15.380436,11.2,92610.0,92610.0
Washington,2019,0.4577,13.50,4.233333,612996.5,7614893.0,1204728.0,80499.686601,15.820682,4.0,93910.0,93910.0
West Virginia,2019,0.4644,8.75,4.933333,78863.9,1792147.0,161686.0,44005.262961,9.021916,10.2,61170.0,61170.0
Wisconsin,2019,0.4391,7.25,3.166667,349416.5,5822434.0,829878.0,60012.101468,14.253111,8.1,76720.0,76720.0
Wyoming,2019,0.4345,5.15,3.716667,40420.1,578759.0,73183.0,69839.259519,12.644814,7.3,74190.0,74190.0

In [42]:
state_econ.to_csv("state_econ.csv")